.employee-list {
  .input-holder {
    .icon {
      margin-right: var(--unit-s);
    }

    input {
      width: 100%;
      height: var(--unit-xl);

      color: white;

      background: transparent;
      border: none;
    }
  }
}
