@import "../assets/styles/config/mixins";

.selected-employee-list {
  h2 {
    font-size: calc(var(--unit) + 0.25rem);
  }

  .list-item-container {
    position: relative;

    .close-button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 1.25rem;
      height: 1.25rem;

      font-size: 1rem;

      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 100%;

      cursor: pointer;

      transform: translate(-50%, -50%);

      @include desktopxl-down {
        left: 0.25rem;
        top: 0.25rem;
        transform: none;
      }
    }

    @include desktopxl-up {
      .close-button {
        display: none;
      }

      &:hover {
        .close-button {
          display: flex;
        }
      }
    }
  }

  .avatar {
    width: calc(var(--unit-xl) + 0.5rem);
    height: calc(var(--unit-xl) + 0.5rem);
    margin-right: var(--unit-s);
  }
}
