.accordeon-list-item {
  display: flex;
  align-items: center;

  padding: var(--unit-s) var(--unit);

  border-bottom: var(--light-border);

  transition: background-color 0.4s;
  user-select: none;

  h2 {
    font-size: calc(var(--unit) + 0.25rem);
  }

  p {
    font-size: var(--unit);
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;
    margin-left: auto;

    border-radius: 100%;

    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
